# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# run
run
runs
!run/options.txt
!runs/client/options.txt

# other
eclipse
repo

# generated/resources
*.cache